.ma-table>.row
{
  border-bottom-color: black;
  border-bottom-style: solid;
}

.foto{
  background-size: cover;  
  width: 100px;
  height: 100px;
  vertical-align: baseline;
}

.foto:hover{
  background-size: cover;  
  width: 100px;
  height: 100px;
}
.nospacing{
  margin:0;
  padding:0;
}

@media (min-width: 700px){
  .ma-table>.row{
    padding-right:20%;
  }
} 

.main-container{
  background-color:#ffffff;
  margin-top:100px;
  margin-bottom: 100px;
  padding-top:2em;
  padding-bottom:2em;
}

.printLogo{
  font-size: 1.5em;  
}

.printText{
  display:none;
}

.printBox:hover{
  cursor:pointer;
}
.printBox:hover>.printText{
  display:inline;
}

.skill1,.skill2,.skill3{
  display: none;
}
.skillImage1,.skillImage2,.skillImage3{
  display:inline-block;
}