.foto{
    content: url("../media/bewerbungsfoto3.png");
}

.skillImage1,.skillImage2,.skillImage3{
    max-height:1em;
}

.pdf-box{
  float: right;
}

.skillImage1{
    content:url("../media/star.png");
  }
  .skillImage2{
    content:url("../media/star2.png") ;
  }
  .skillImage3{
    content:url("../media/star3.png");
  }

  .bgimage{
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  }

  h1{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4a868+0,e4a868+0,db7e31+100 */
    background: #e4a868; /* Old browsers */
    background: -moz-linear-gradient(top, #e4a868 0%, #e4a868 0%, #db7e31 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e4a868 0%,#e4a868 0%,#db7e31 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e4a868 0%,#e4a868 0%,#db7e31 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4a868', endColorstr='#db7e31',GradientType=0 ); /* IE6-9 */
  }

  .lessionsImage{
    background-image: url("../media/cert.png");
    background-size: cover;  
    width: 100px;
    height: 100px;
  }

  .show-print{
    display: none;
  }