<!DOCTYPE html>
<html ng-app="profile" lang="de">
<head>
	<title>Lebenslauf Martin Alef</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" type="text/css" href="../guts/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../guts/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../guts/bootstrap-theme.css" />
</head>
<body class="container-fluid  bgimage nospacing">
<div class="col-md-10 col-md-offset-1 main-container">
<span class ="printBox" onclick="window.print()">
  <span class="printLogo">🖶</span>
  <span class="printText">
      Ich habe diese Seite für Drucker optimiert. Wenn Sie die Seite drucken, verschwinden Bilder und Farben, und die ganze Breite wird genutzt. Versuchen Sie es selbst!
  </span>
</span>


  <h1>Persönliche Daten</h2>
  <div >
    <div style="display:inline-block">
      Martin Alef<br/>
      23.06.1990, Nürnberg<br/><br/>
      <ul class="list-unstyled">
      <li>Email: <a href="mailto:alef@freenet.de">alef@freenet.de</a></li>
      <li>Telefonnummer: <a href="tel:+49-175-6991396">0175 6991396 <span style="font-size:18px;">✆</span></a></li>
      <li><address>Adresse: Paul-Keller-Str. 6, 90768 Fürth</address></li>
      </ul>
    </div>
    <div style="display:inline-block">
      <img class="foto" style="border-radius:50%;"></img>
    </div>
  </div>
  <br/>
  <ul class="row">
    <li>Vier Jahre Erfahrung in der Planung, Umsetzung, Wartung und Dokumentation von web-basierten Anwendungen mit C# .NET und Microsoft MVC</li>
    <li>Fundierte Kenntnisse in der Backend-Entwicklung als auch im Frontend: HTML, CSS3, JQuery und AngularJS</li>
    <li>Erfahrung im Erstellen und Einbinden von Rest-Services </li>
    <li>Große Stärken in der Problemanalyse und Lösungsplanung bis ins letzte Detail und in der Beseitigung technischer Schuld</li>
    <li>Ausgeprägte Kreativität und großes Verantwortungsbewusstsein</li>
    <li>Routine in Scrum-Prozessen wie Refinements, Daily Standup, Review, Sprint planning und Retro</li>
  </ul>

<br/><br/>


  <div class="grad"><h1>Schulbildung</h2></div>
  <div>
    <div class="row">
      <div class="col-md-2 col-xs-4" >2001 – 2010</div>
      <div class="col-md-10 col-xs-8" >Gymnasium in Fürth, BAY<br/>
  	      Abschluss: Abitur mit LK Mathematik und Englisch<br/>
  	      Zusatzkurse: English conversation<br/>
    </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-xs-4">1997 – 2001</div>
      <div class="col-md-10 col-xs-8 ">Grundschule in Fürth, BAY</div>
    </div>
  </div>

<br/><br/>


<h1>Berufspraxis</h2>
<div class="row">
  <div class="col-md-2 col-xs-4" >11/2016- jetzt</div>
  <div class="col-md-10 col-xs-8" >Festanstellung bei der Stayfriends GmbH<br/>
    <ul class="row">
      <li>Frontend-Entwicklung für das Projekt <a href="#ELO">ELO</a>.</li>
      <li>Verwendete Technologien: Gulp, Node, Typescript, aktuelles HTML und CSS.</li>
    </ul>
</div>
</div>
  <div class="row">
    <div class="col-md-2 col-xs-4" >2013 - 10/2016</div>
    <div class="col-md-10 col-xs-8" >Festanstellung  bei der Hotel.de AG in Nürnberg<br/>
      <ul class="row">
        <li>Full-Stack-Web-Entwicklung im Auftrag der internen Fachabteilungen</li>
        <li>Verwendete Technologien: ASP.NET, .NET; C#; MS SQL Server, HTML, CSS, Javascript, JQuery, AngularJS, uvm.</li>
      </ul>
  </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-4">09/2010 – 02/2013</div>
    <div class="col-md-10 col-xs-8">Ausbildung zum <b>Fachinformatiker Softwareentwicklung</b> bei der Hotel.de AG in Nürnberg</div>
  </div>


<br/><br/>


<h1>Kenntnisse und Besondere Fähigkeiten</h2>
Kenntnisgrade:<br/>
<span skillLevel="1"><span class="skill1">+</span><img class="skillImage1"/></span> Grundkenntnisse <br/>
<span skillLevel="2"><span class="skill2">++</span><img class="skillImage2"/></span> Fortgeschrittene Kenntnisse <br/>
<span skillLevel="3"><span class="skill3">+++</span><img class="skillImage3"/></span> Sehr gute Kenntnisse <br/>
<br/><br/>
<div>
<div class="ma-table" ng-controller="maSkillsCtrl">
  <div class="row">
    <div class="col-xs-12 col-sm-3">Gebiet</div>
    <div class="col-xs-12 col-sm-9">
      <div class="row">
      <div class="col-xs-6">Teilgebiet</div>
      <div class="col-xs-3" style="word-wrap: break-word">Kenntnisgrad</div>
      <div class="col-xs-3" style="word-wrap: break-word">Anwendung in Jahren</div>
    </div>
    </div>
  </div>
  <div class="row" ng-repeat="skillset in skillsets">
    <div class="col-xs-12 col-sm-3" >
      {{skillset.name}}
    </div>
    <div class="col-xs-12 col-sm-9">
      <div class="row" ng-repeat="sub in skillset.subskills" >
          <div subskill="sub"></div>
      </div>
    </div>
  </div>
<br/><br/>
</div>
</div>

	<h1>Weiterbildung / Zertifizierungen</h2>

		  <ul ng-controller="maLessionsCtrl" style="display:inline-block" >
		    <li ng-repeat="les in lessions" lession = "les">
		  </li>
		  </ul>
		<div class="lessionsImage col-md-3 hidden-xs" style="float:left"></div>
    <br/><br/>

<h1 style="display:block">Projektliste</h1>
<div ng-controller="maEmployersCtrl" >
  <div ng-repeat="employer in employers">
    <h2 id="{{employer.id}}" style="text-align:center;margin-top:2em;text-decoration:underline">{{employer.name}}</h2>
    <div ng-repeat="project in employer.projects" project="project"></div>
  </div>
</div>
<br/><br/>


<h1>Sprachen</h2>
<div class="row">
<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-3 col-sm-2" >Deutsch</div>
    <div class="col-xs-9" >Muttersprache</div>
  </div>
  <div class="row">
    <div class="col-xs-3  col-sm-2">Englisch</div>
    <div class="col-xs-9">Sehr gut</div>
  </div>
  <div class="row">
    <div class="col-xs-3  col-sm-2">Französisch</div>
    <div class="col-xs-9">Bedarf einer Auffrischung, ansonsten jedoch gut</div>
  </div>
</div>
</div>
<br/><br/>

<h1>Interessen und Hobbies</h2>
<div>
  <div class="row">
    <div class="col-xs-3  col-sm-2" >Computer</div>
    <div class="col-xs-9" >Musikproduktion in Cubase, Bildbearbeitung in Gimp, teambasierte Onlinespiele mit Freunden. Erstellen und Arbeiten mit virtuellen Synthesizern und Effektmodulen.</div>
  </div>
  <div class="row">
    <div class="col-xs-3  col-sm-2">Musik</div>
    <div class="col-xs-9">Piano und Keyboard seit 2002.</div>
  </div>
  <div class="row">
    <div class="col-xs-3  col-sm-2">Literatur</div>
    <div class="col-xs-9">Deutsche und englische Romane sowie Sachbücher.</div>
  </div>
  <div class="row">
    <div class="col-xs-3  col-sm-2">Sport</div>
    <div class="col-xs-9">Longboarding, Badminton.</div>
  </div>
</div>
</div>


    <link rel="stylesheet" type="text/css" href="../guts/extra-styles.css" />

    <link rel="stylesheet" type="text/css" href="../guts/generic-flavour.css" />
    <link rel="stylesheet" media="print" type="text/css" href="../guts/print-styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="../modules/app.js"></script>
  <script src="../modules/data-loader/data-loader.js"></script>
  <script src="../modules/lession/lession-mod.js"></script>
  <script src="../modules/project/project-dir.js"></script>
  <script src="../modules/subskill/subskill-dir.js"></script>
  <script src="../data/lessions.js"></script>
  <script src="../data/employers.js"></script>
  <script src="../data/skills.js"></script>
</body>
</html>
